*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box4{
    grid-row: 2/4;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    background-color: rgb(55, 52, 52);
}
